/**
 * Parallax Scrolling Tutorial
 * For NetTuts+
 *  
 * Author: Mohiuddin Parekh
 *  http://www.mohi.me
 *  @mohiuddinparekh   
 */


body{
  margin:0;
  padding:0;
}

.counties {
  stroke:#222222;
  fill:#333333;
}

.states {
  stroke:#222222;
  fill:#333333;
}

.world {
  stroke:none;
  stroke-width:0.3;
  fill:none;
}

.lakes {
  fill: rgb(241, 241, 241);
}


#home { 
  background: url(../images/wichita-tor.jpg) 50% 0 no-repeat fixed; 
  height: 1000px;  
  margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.about { 
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
  height: 1000px;
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  overflow:hidden;
}

.map-blurb {
  color: #000;
  z-index: 100;
  position: absolute;
  top: 20px;
  right: 50px;
  width: 320px;
  padding: 20px;
  line-height: 43px;
  font-size: 22pt;
  opacity: 0.8;
  height: 745px;
  background: url(../images/blurb-tor.png) center fixed;
  font-weight: bold;
}

.storm-reports {
  cursor:pointer;
}

#info-window {
  display:none;
  background:#EEE;
  opacity:0.8;
  padding:10px;
  position:absolute;
  z-index:200;
}

/* Introduction */

#home article { 
  height: 458px;
  position: absolute;
  top: 291px;
  width: 100%;
  font-size: 166px;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
}

#home #intro { 
  height: 150px;
  position: absolute;
  top: 443px;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
}

#item_one {
  /*background: url(../images/supercell.jpg) 50% 0 no-repeat fixed;*/  
}

