/**
 * Parallax Scrolling Tutorial
 * For NetTuts+
 *  
 * Author: Mohiuddin Parekh
 *  http://www.mohi.me
 *  @mohiuddinparekh   
 */


body{
  margin:0;
  padding:0;
}

.no-scroll {
  position: fixed; 
  overflow-y: scroll;
  width: 100%;
}

.counties {
  stroke:#222222;
  fill:#333333;
}

.states {
  stroke:#222222;
  fill: #444;
}

.world {
  stroke:none;
  stroke-width:0.3;
  fill:none;
}

.lakes {
  fill: rgb(241, 241, 241);
}

path {
  fill: none;
  stroke-linejoin: round;
}

.intro-land {
  /*fill: #38424e;*/
 fill: #444; 
}

.sphere,
.graticule {
  stroke: #999;
  stroke-width:0.3;
}

.equator {
  stroke: red;
  stroke-width: 2px;
}

.legend-container {
  height:545px;
}

#intro-map {
  height: 800px;
  width: 1400px;
  position: absolute;
  z-index: 100;
  background:#FEFEFE;
}

@-webkit-keyframes swinging {
    0% {
        -webkit-transform: rotate(-5deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(-5deg);
    }
}

#scroll-tip-container {
  display:none;
  padding-top: 100px;
  -webkit-animation: swinging 3s infinite ease-in-out;
  background: #ddd;
  width: 4px;
  -webkit-transform-origin: top;
  margin: 0 auto;
  -webkit-border-radius: 1000px;
  
}


.pendulum {
  position: relative;
  background: #FFF;
  color: #333;
  width: 60px;
  height: 60px;
  line-height: 63px;
  -webkit-border-radius: 1000px;
  margin: 0 0 0 -28px;
  font-weight: bold;
  font-size: 10pt;
  border: 1px solid red;
}


.date {
  background: #CCC;
  opacity: 0.8;
  padding: 5px;
  color: rgb(0, 136, 196); /*was #000 */
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.stats {
  width: 325px;
  overflow: hidden;
}

.stat {
  background: #CCC;
  opacity: 0.8;
  padding: 5px;
  color: #000;
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 95px;
  text-align: center;
  margin-right: 3px;
}

.stat .title {
  font-size:10pt;
  color:rgb(0, 48, 68);
}

.number {
  color:rgb(0, 48, 68);
}

#home { 
  background: url(../images/wichita-tor.jpg) 50% 0 no-repeat fixed; 
  height: 1000px;  
  margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.about { 
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
  height: 1000px;
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  overflow:hidden;
  z-index:200;
}

.map-blurb {
  color: rgb(79, 96, 114);
  z-index: 100;
  position: absolute;
  top: 20px;
  right: 50px;
  width: 320px;
  padding: 20px;
  line-height: 43px;
  font-size: 22pt;
  opacity: 0.8;
  height: 745px;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
}

.storm-reports {
  cursor:pointer;
}

#info-window {
  display:none;
  background:#EEE;
  opacity:0.9;
  padding:10px;
  position:absolute;
  z-index:200;
  color:#000;
}

/* Introduction */

.intro-diddy .inner {
  width: 870px;
  margin: auto;
  height: 190px;
}

.intro-diddy {
  display:none;
  height: 191px;
  z-index: 115;
  position: absolute;
  top: 291px;
  width: 100%;
  font-size: 166px;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
  color:rgb(49, 49, 49);
  position:fixed;
}

#intro-map-window-one .inner.wbg {
  background: url(../images/wichita-tor.jpg) 50% 0 no-repeat fixed;
  box-shadow: inset 0px 0px 19px 3px #777;
  overflow: hidden;
}

.intro-diddy article { 
  height: 152px;
}

.intro-diddy #intro { 
  height: 150px;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
}

#item_one {
  /*background: url(../images/supercell.jpg) 50% 0 no-repeat fixed;*/  
}

#blurb-one {
  background: url(../images/blurb-tor.png) right fixed !important;
}

#blurb-two {
  background: url(../images/supercell05.png) right fixed; 
}

#blurb-three {
  background: url(../images/may-22-2011-1.png) right fixed;
}

#blurb-four {
  background: url(../images/may-3-1999-1.png) right fixed; 
}

#blurb-five {
  background: url(../images/nov-22-1992.png) right fixed;
}

#blurb-six {
  background: url(../images/1965-2.png) right fixed; 
}

#blurb-seven {
  background: url(../images/blurb-tor.png) right fixed;
}

#blurb-eight {
  background: url(../images/supercell05.png) right fixed; 
}

.content-container {
  position: absolute;
  background: transparent;
  top: 205px;
  height: 481px;
  width: 320px;
  display: none;
  right: 71px;
  z-index: 1000;
}

.video-canvas {
  width:320px;
}

.video {
 display:none;
}

.content-container video {
  width:320px;
}
