body{
  margin:0;
  padding:0;
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
}

a:hover {
  color: #607890 !important;
}

::-webkit-scrollbar { 
  display: none; 
}

#header {
  background: none;
  height: 48px;
  position: fixed;
  z-index: 2000;
  width: 100%;
}

#header-inner {
  display:none;
  height: 48px;
  pointer-events: none;
  overflow: hidden;
  background: rgba(53, 53, 53, 0.9);
  font-family: colfax-web, sans-serif;
  padding-top: 7px;
}

#header-wrapper {
  width:980px;
  overflow:hidden;
  margin:auto;
  position:relative;
}

#legend-outer {
  width: 335px;
  margin: auto;
  position:relative;
}
#path-legend {
  position: absolute;
  left: -317px;
  top: 5px;
  font-size: 17pt;
  color: #FFF;
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
}
#path-legend span {
  color: rgb(254, 230, 206);
}
#legend-low {
  position: absolute;
  left: -130px;
  top: 5px;
  font-size: 17pt;
  color: #FFF;
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
}
#legend-high {
  position: absolute;
  right: 23px;
  top: 7px;
  font-size: 15pt;
  color: rgb(254, 230, 206);
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
}
#legend {
  width: 335px;
  margin: auto;
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
}

#twitter-share {
  right:0px;
  top:3px;
  position:absolute;
}
#credit {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 255px;
  color: #FEFEFE;
  padding-left: 13px;
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
  height: 30px;
  pointer-events: auto;
}

#footer {
  height:160px;
  box-shadow: 10px 10px 10px 10px #444;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
  color:#FEFEFE;
  padding:10px;
  position:absolute;
  bottom:0px;
  width:100%;
}

#footer-inner {
  width:900px;
  margin:auto;
  overflow:hidden;
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
}

#footer #video-attr {
  width: 300px;
  overflow: hidden;
  height: 160px;
  float:left;
  margin-right:15px;
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
}

#footer #image-attr {
  width: 300px;
  float:left;
  overflow: hidden;
  height: 160px;
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
}

.footer-title {
  font-size: 15pt;
  margin-bottom: 7px;
  border-bottom: 1px solid #444;
}

.section-title {
  position: absolute;
  width: 300px;
  background: rgb(240, 240, 240);
  z-index: 1000;
  padding: 10px;
  font-size: 18pt;
  font-weight:bolder;
  text-align: right;
  top: 25px;
  box-shadow: 0px 0px 10px -3px #333;
}

#map-controls {
  padding: 3px;
  color: #777;
  font-size:8pt;
  position: fixed;
  left: 0px;
  cursor: pointer;
  z-index: 10000;
  overflow: hidden;
  display:none;
  background: #222;
  opacity: 0.6;
}

.control {
  background: #222;
  padding:2px;
  opacity: 0.6;
  margin-right:3px;  
}

.control:hover {
  opacity:0.8;
  color:#FFFFFF;
}

#next-section {
  border-left:1px dotted #999999;
}

#toggle-paths {
  color:#FFFFFF;
}

#map_one_title {
  left: -3px;
  width: 600px;
  width: 600px;
  text-align: right;
}

#map_two_title {
  right: 0px;
  text-align: left;
  background: rgb(77, 85, 95);
  color: #FFFFFF;
  width:300px;
}

#map_three_title {
  width:360px;
}

#map_four_title {
  right: 0px;
  background:rgb(77, 85, 95);
  color: #FEFEFE;
  width:400px;
  font-size:17px;
}

#map_five_title {
  left: -3px;
  width: 600px;
  width: 600px;
  text-align: right;
}

#map_six_title {
  right: 0px;
  top: 600px;
  text-align: left;
}

#map_seven_title {
  top: 0px;
  width: 320px;
  text-align: center;
  left: 20px;
}

#map_eight_title {
  left: -3px;
  width: 600px;
  width: 600px;
  text-align: right;
}

#joplin-about {
  width: 298px;
  top: 68px;
  overflow: hidden;
  position: absolute;
  left: 0px;
  line-height: 38px;
  background: #E9E9E9;
  z-index: 100;
  padding-left: 11px;
  font-size: 11pt;
  padding-right: 9px;
  height: 285px;
}

.no-scroll {
  position: fixed !important; 
  overflow-y: scroll;
  width: 100%;
}

.counties {
  stroke:#222222;
  fill:#333333;
}

.states {
  stroke:#222222;
  fill: #444;
}

.states-partial {
  stroke:#666;
  fill: #444;
}

.states-faded {
  fill: rgb(245, 245, 245);
  stroke: rgb(214, 214, 214);
  opacity: 0.5;
}

.counties-partial {
  stroke:#666;
  fill:none;
}

.states-hidden {
  stroke:none;
  fill:none;
}

.counties-hidden {
  stroke:none;
  fill:none;
}

.world {
  stroke:none;
  stroke-width:0.3;
  fill:none;
}

.lakes {
  fill: rgb(241, 241, 241);
}

.urban {
  fill: rgb(54, 54, 54);
}

path {
  fill: none;
  stroke-linejoin: round;
}

.intro-land {
  /*fill: #38424e;*/
 fill: #444; 
}

.sphere,
.graticule {
  stroke: #999;
  stroke-width:0.3;
}

.equator {
  stroke: red;
  stroke-width: 2px;
}

.subunit-label {
  fill: #777;
  fill-opacity: .8;
  font-size: 10px;
  font-weight: 300;
  text-anchor: middle;
}

.legend-container {
  height:40px;
  position:absolute;
  width:320px;
}

#intro-map {
  height: 800px;
  width: 1400px;
  position: absolute;
  z-index: 100;
  background:#FEFEFE;
}

@-webkit-keyframes swinging {
    0% {
        -webkit-transform: rotate(-5deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(-5deg);
    }
}

#scroll-tip-container {
  display:none;
  padding-top: 100px;
  -webkit-animation: swinging 3s infinite ease-in-out;
  background: #ddd;
  width: 4px;
  -webkit-transform-origin: top;
  margin: 0 auto;
  -webkit-border-radius: 1000px;
  
}


.pendulum {
  position: relative;
  background: #FFF;
  color: #333;
  width: 60px;
  height: 60px;
  line-height: 63px;
  -webkit-border-radius: 1000px;
  margin: 0 0 0 -28px;
  font-weight: bold;
  font-size: 10pt;
  background: #e7ece6 url( ../images/down-arrow.png ) no-repeat bottom;
}

#scroll-helper {
  display:none;
  font-size: 10pt;
  width: 155px;
}

.date {
  background: #CCC;
  opacity: 1;
  padding: 5px;
  color: rgb(39, 127, 238); /*rgb(0, 136, 196); /*was #000 */
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.stats {
  width: 325px;
  overflow: hidden;
}

.stat {
  background: #CCC;
  opacity: 0.8;
  padding: 5px;
  color: #000;
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 95px;
  text-align: center;
  margin-right: 3px;
  font-size:18pt;
}

.stat .title {
  font-size:10pt;
  color:rgb(0, 48, 68);
}

.number {
  color:rgb(0, 48, 68);
}

#home { 
  background: url(../images/intro-tornado.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  height: 1000px;  
  margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.about { 
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
  height: 1000px;
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  overflow:hidden;
  z-index:200;
}

.scrollblock {
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  overflow:hidden;
  z-index:200;
}

#scrollblock-one {
  
  
}

.about.map_two {
  background: url(../images/supercell-co-bw.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.maps {
  position:absolute;
  z-index:50;
  width:800px;
  height:800px;
}

.map-blurb {
  color: rgb(79, 96, 114);
  z-index: 100;
  position: absolute;
  top: 5px;
  right: 50px;
  width: 320px;
  padding: 20px;
  line-height: 43px;
  font-size: 22pt;
  opacity: 0.8;
  height: 1200px;
  font-weight: bold;
  overflow: hidden;
  z-index: 60;
}

.storm-reports, .storm-reports-large {
  cursor:pointer;
}

#info-window {
  display:none;
  background:#EEE;
  opacity:0.9;
  padding:10px;
  position:absolute;
  z-index:200;
  overflow:visible;
  color:#000;
  width: 150px;
  height: 105px;
  box-shadow: 0px -3px 23px 1px #000;
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
}

#info-window:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: #EEE transparent transparent transparent;
  bottom: -20px;
  right: 76px;
}

/* Introduction */

.intro-diddy .inner {
  width: 870px;
  margin: auto;
  height: 190px;
}

.intro-diddy {
  display: none;
  height: 191px;
  z-index: 115;
  top: 34%;
  width: 100%;
  font-size: 131px;
  text-align: center;
  color: rgb(8, 10, 14);
  position: absolute;
  font-family: "Georgia", serif;
  letter-spacing:2px;
  text-transform: uppercase;
}

.intro-diddy article {
  text-shadow: 1px 1px rgb(90, 104, 116);
}

#intro-map-window-one .inner.wbg {
  background: url(../images/intro-tornado.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  box-shadow: inset 0px 0px 19px 3px #777;
  overflow: hidden;
}

.intro-diddy article { 
  height: 152px;
}

.intro-diddy #intro { 
  width: 100%;
  font-size: 31px;
  font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
  text-align: center;
  margin-top: -15px;
}


.bold {
  font-weight:bold;
}

#item_one {
  /*background: url(../images/supercell.jpg) 50% 0 no-repeat fixed;*/  
}

#blurb-one {
  background: url(../images/blurb-tor.png) right fixed !important;
}

#blurb-two {
  background: url(../images/supercell-co.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 50px;
  opacity:0.9;
}

#blurb-three {
  background: #EEE;
}

#blurb-four {
  width: 650px;
}

#blurb-four .map-blurb-text {
  width: 321px;
  float: right;
}

#blurb-six .map-blurb-text {
  width: 321px;
  margin-left: 0px;
  margin-top: 10px;
}

#blurb-five {
  /*background: url(../images/nov-22-1992.png) right fixed !important;*/
 overflow:visible;
}

#blurb-five img {
  position: absolute;
  right:10px;
}

#blurb-six {
  box-shadow: 44px 1px 115px 117px rgb(211, 211, 211);
  background: rgb(209, 209, 209);
  width: 203px;
  top: 20px;
  opacity: 0.8;
  left: 95px;
  padding: 0px;
  overflow: visible;
}

.content-container {
  position: absolute;
  background: transparent;
  top: 190px;
  height: 481px;
  width: 320px;
  right: 71px;
  z-index: 1000;
  overflow: hidden;
  overflow-y: auto;
}

.video-canvas {
  width:320px;
}

#video-eight-canvas {
  width:100%;
  height:100%;
  margin:0px;
}

.video {
 display:none;
}

.content-container video {
  width:320px;
}

#video-eight-container {
  width: 110%;
  height: 110%;
  z-index: 0;
  top: -60px;
  right:0px;
  left:-20px;
}

#video-four-container {
  top: 10px;
  left: 14px;
}

.info {
  line-height: 38px;
  font-size: 13pt;
}

#blurb-six .info {
  width: 300px;
  position: absolute;
  left: 10px;
  top: 200px;
  font-weight: normal;
  color: #000;
}

#blurb-seven {
  overflow:visible;
}

#blurb-seven img {
  position:absolute;
  box-shadow: 0px 2px 15px 0px #444;
}

#blurb-eight .info {
  width: 320px;
  position: absolute;
  font-weight: normal;
  color: #333;
  line-height: 1px;
}

#blurb-eight {
  opacity:1;
}

#blurb-five .info {
  font-weight: normal;
  color: #444;
}

#blurb-four .info {
  width: 640px;
  font-weight: normal;
  color: #444;
  overflow: hidden;
  text-align: center;
}

.content-container.map_one .info {
  line-height: 38px;
  font-size: 13pt;
}

.content-container.map_two {
  line-height: 38px;
  font-size: 13pt;
  left:71px;
  color:rgb(226, 226, 226);
}

#joplin-gif {
  width: 320px;
}

#joplin-image {
  width:320px;
}

#outro {
  padding-top:10px;
  height:650px;
  width:100%;
  color:rgb(90, 99, 105);
  background: url(../images/outro-tornado.jpg) no-repeat center center fixed;
}
#outro-inner {
  width:990px;
  margin:auto;
  overflow:hidden;
}

#outro h3 {
  font-family: "Georgia", serif;
  font-size: 14pt;
  margin: 5px;
  margin-left: 0px;
  color: rgb(90, 99, 105);
  text-align: center;
  display: block;
  margin-top: 235px;
}

#outro h2 {
  font-family: "Georgia", serif;
  font-size: 27pt;
  margin: 5px;
  margin-left: 0px;
  color: rgb(90, 99, 105);
}

#outro h1 {
  font-family: "Georgia", serif;
  font-size: 55pt;
  color: rgb(90, 99, 105);
}

.outro-region {
  width: 310px;
  float: left;
  margin: 1px;
  padding: 5px;
  text-align: center;
}

.outro-number {
  font-size:75px;
  color: rgb(90, 99, 105);
}

#loading {
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-size: 12pt;
  color: #444;
  font-family: "Helvetica Neue, "Helvetica", ""arial";
  z-index: 1000;
}
